<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

      
      <!-- Featured Image - PUT CSS IN MAIN FILE -->
    {% if page.image %}
        
    <img src="{{page.image}}" style="width: 100%; overflow: hidden; margin: 0; position: relative;">
 
    {% endif %}
      <!-- Tried the code in this forum post, couldn't make it work but it's worth a revisit - https://stackoverflow.com/questions/34291857/css-image-to-full-width-and-center-vertically -->
      
      
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>