---
layout: default
---

<div class="home">
    

<h1>Discover How to Thrive</h1>
    
    <p>That's what I'm figuring out how to do. Thrive. Maybe following along can help you do the same. </p>
    
    <p><b><i>If you're here to hire me for my copywriting services, <a href="http://www.jamesmathison.co.uk/hire/">click here</a>.</i></b> </p>

    <p>My email column and essays are an exploration into the question of how to become all you can be. </p>

    <p>It's broad as hell (and hell is a broad place!), so what can you find here specifically? </p>

    <p><b>Explorations into:</b></p>
        <ul>
            <li>Archetypal psychology</li>
            <li>Applicable philosophy</li>
            <li>Practical spirituality</li>
            <li>Creative business</li>
            <li>Nature-supportive technology</li>
            <li>Much more besides, I'm sure…</li>
        </ul>
    
    <p>Why? </p>

    <p>It's a good question…I guess we have no choice. </p>
    
    <p>About 20 things are going sideways at once. A.I. threatens to replace our usefulness. We're religiously and spiritually bereft. Political extremism is cresting all around us. The internet is obliterating old media and a combination of all the above is obliterating higher education. </p>

    <p>Those are just off the top of my head. I didn't even mention cultural tensions, the tenuous position of our fiat currencies, or the looming ethical conundrums of DNA manipulation and mechanical augmentation. </p>

    <p>As Scott Adams has said on his live-streams, it's sometimes difficult to tell if we're about to see a catastrophe or something amazing. The reason – the signs are almost identical. It's as if tension builds and builds out of the gooey potential of the future until it has to snap into one configuration or the other. </p>

    <p>The smallest decision might tilt it towards catastrophe or paradise in that 'snapping' moment. </p>

    <p>Are we heading towards a global holocaust or a new age of enlightenment for humankind? </p>

    <p>I'll remain optimistic until I'm forced to change. In the meantime, about the only thing I'm sure of is that the best way to maximise the chances of myself and my loved ones is to become the best version of myself that I possibly can. </p>

    <p>Problem is, I'm incredibly flawed. </p>

    <p>Join me. </p>

    
<!-- Archive from 2018-08 
    
    <p style="font-size:1.2em;"><i><b>Build your list with Article Funnels</b></i> </p>

  <h1>I help companies build their email lists by treating every article like a landing page… </h1>

    <p><b>…that continues to work for them over time.</b></p> 
    
&nbsp;
    
    <p>I learned this lesson during my 3 years in the booming startup hub in Cracow, Poland. </p>

    <p>Being the only native-English-copywriter around, I gained access to projects I really had no business being a part of. My experience was lacking, but I had the talent and determination to catch up. </p>

    <p>One day I was leaning over a workstation. A huge paper printout of a complex sales funnel sprawled out in front of me. Sam Cook, the founder and CEO of James Cook Media, was walking me through his creation. </p>

    <p>As he explained the purpose of articles in his funnel, something clicked. </p>

    <p>These articles weren’t for vague SEO or branding purposes, published in the hope to bring people in “one day”. We didn’t have the time for that. </p>

    <p>They weren't a mere "blog".</p>

    <p><i><b>They were an army of landing pages. </b></i></p>

    <p>Each one was profitable enough to send people to them through paid traffic. </p>

    <p>After working with Sam, this insight has continued to develop in my mind and work. </p>
    
    <p>When an article is truly excellent, it can be the source of countless more pieces of content and promotional pieces. It can be repurposed and spread across the internet on every platform. It can tell you what’s going on in the minds of its readers. </p>

    <p>And, of course, it can grow your email list. </p>

    <p>It <i>must</i> grow your email list. </p>

    <p>Every one of your articles is a landing page at the bottom of a little funnel, whether you know it or not. All that remains is how intentional and well-built that funnel is. </p>

    &nbsp;

-->
    
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//jamesmathison.us9.list-manage.com/subscribe/post?u=70d4bb9ad6e70a7a92c5d1add&amp;id=ec43ccc3b5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Join my email column</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_70d4bb9ad6e70a7a92c5d1add_ec43ccc3b5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    
</div>
